.footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    left: 0;
  }
  
  .footer p {
    display: flex;
    justify-content: space-around; /* Space around elements */
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .footer span {
    margin: 0 0.5rem;
  }
