.navbar {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .navbar img {
    width: 4%;
    opacity: 0.85;
    align-self: center;
    margin: 0;
    margin-right: 2rem;
  }